*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  height: 100%;
}

#root{
  height: 100%;
  
}
/* 全局表格样式 */
 .tableSearch{
   .tableSearchForm{
    .ant-input{
      width: 180px;
      height: 36px;
      line-height: 36px;
      border-radius: 2px;
     
      &+.ant-input{
        margin-left: 10px;
      }
    }
    .search{
      width: 80px;
      height: 36px;
      border-radius: 2px;
      margin-left: 10px;
    }
   }
   .tableSearchCreat{
    margin-top: 20px;
   
    opacity: 1;
     .creat{
      cursor: pointer;
      border-radius: 2px;
      background-color: #42b983;
      border-color: #42b983;
     }
   }
 
}
.mr7{
   margin-right: 7px;
} 
